{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Categorie</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ category.id }}</td>
        </tr>
        <tr>
            <th>Categorie</th>
            <td>{{ category.categoryName }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('category_edit', {'id': category.id}) }}">Éditer</a>
    <a href="{{ path('category_index') }}">Retour</a>
    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
